*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

/* .produtos{
    background-color: rgb(243, 173, 208);
} */
.divIcones{
    height: 60px;
    display: flex;
    align-items: center;
}
.divIcones>img{
    cursor: pointer;
}